// -----------------------------------------------------------
// Add brand items such as logos here
// -----------------------------------------------------------

.branding {
    position: relative;
    background-image: url(../svg/source/logo-colour.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: 40px;
    display: block;
    span {
        visibility: hidden;
    }
    @include respond-to($menu-respond) {
        height: 60px;
        float: left;
    }
}

.branding-footer {
    position: relative;
    background-image: url(../svg/source/logo-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 40px;
    display: block;
    float: right;
}
