// -----------------------------------------------------------
// Cards
// -----------------------------------------------------------

.card {
    position: relative;
    background-color: #fff;
    padding: 2em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    &--stacked {
        position: relative;
        &:after {
            z-index: -1;
            content: "";
            position: absolute;
            bottom: -10px;
            right: -10px;
            width: 100%;
            height: 100%;
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        }
    }
    &--step{
        background-color: $iati-ocean;
    }
    &--guidance {
        //background-color: $iati-land;
        background: linear-gradient(30deg, $iati-land, darken($iati-air, 7%));
        &:after {
            background-color: darken($iati-land, 5%);
        }
    }
    &--knowledge {
        background: linear-gradient(30deg, darken($iati-sunset, 7%), $iati-sunrise);
    }
}


.card__heading {
    @extend .heading;
    @include font-size($gamma);
    display: block;
    a span {
        display: inline;
        border-bottom: 2px solid $action-respond;
    }
    .card--guidance & {
        a {
            color: #fff;
            span {
                border-color: $action;
                transition: all, ease-in-out, 0.3s;
            }
            &:hover {
                span {
                    border-color: #fff;
                }
            }
        }
    }
    .card--knowledge & {
        a {
            color: #fff;
            span {
                border-color: #fff;
                transition: all, ease-in-out, 0.3s;
            }
            &:hover {
                span {
                    border-color: $action-respond;
                }
            }
        }
    }
}

.card__excerpt {
    @include font-size($para);
    margin-top: 0.75em;
    margin-top: 1.5em;
}

.card__flag {
    @include font-size($eta);
    float: right;
    margin-left: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
    display: block;
    border: 1px solid $default-border-color;
    padding: 0.5em 0.75em 0.25em 0.75em;
    .card--guidance & {
        color: #fff;
        border-color: #fff;
    }
}

.card__step {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    transition: all, ease-in-out, 0.3s;
}

.card__step__text {
    @include font-size($gamma);
    color: #fff;
    display: block;
    .ico {
        display: block;
        margin-top: 2em;
    }
}
