// ------------------------------------------------------------
// Filter
// ------------------------------------------------------------

.filter-group {
    @extend %pie-clearfix;
    background-color: #fff;
    padding: 2em;
    border-bottom: 2px solid $body-color;
    .filter {
        margin-bottom: 20px;
        display: block;
        &:last-child {
            margin-bottom: 0;
        }
        @include respond-to($b-vp) {
            width: 70%;
            float: left;
            margin-bottom: 0;
            + .filter {
                width: 29%;
                margin-left: 1%;
                float: right;
            }
        }
    }
    &--reverse {
        background-color: $iati-ash;
        .filter {
            margin-bottom: 20px;
            display: block;
            @include respond-to($b-vp) {
                width: 100%;
                float: none;
                + .filter {
                    width: 100%;
                    float: none;
                    margin-left: 0;
                }
            }
            @include respond-to($c-vp) {
                width: 40%;
                float: left;
                margin-bottom: 0;
                + .filter {
                    width: 60%;
                    float: right;
                    margin-left: 0;
                }
            }
        }
    }
}

.filter {
    @include font-size($para);
    .form-field__checkboxes {
        columns: 2;
    }
}

.filter__heading {
    @extend .heading;
    margin-bottom: 0.5em;
}

.filter__list {
    li {
        a {
            text-decoration: underline;
        }
    }
}

.filter__list-active a {
    color: $action-respond;
}

.filter__search {
    @extend %pie-clearfix;
    input {
        float: left;
        width: 70%;
        + input {
            width: 30%;
        }
    }
}
