// ------------------------------------------------------------
// Filter
// ------------------------------------------------------------

.filter-group {
    @extend %pie-clearfix;
    .filter {
        width: 70%;
        float: left;
        + .filter {
            width: 29%;
            margin-left: 1%;
            float: right;
        }
    }
}

.filter {
    background-color: #fff;
    padding: 1em;
    @include font-size($para);
}

.filter__heading {
    @extend .heading;
    margin-bottom: 0.5em;
}

.filter__list {
    li {
        display: inline-block;
        margin-right: 10px;
        a {
            text-decoration: underline;
        }
    }
}
