.stat {
    background-color: #fff;
    border-left: 3px solid $iati-ocean;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    padding: 1.5em 1.5em 1.5em 2em;
    @include respond-to($menu-respond) {
        margin-bottom: 2em;
    }
}

.stat__heading {
    color: $iati-ocean;
}

.stat__heading--large {
    @include font-size($alpha);
    // outline: 1px solid red;
}

.stat__copy {
    @include font-size($delta);
}

.stat-quote {
    align-items: center;
    display: flex;
    justify-content: center;
}

.stat-quote__media {
    align-self: flex-start;
    margin-right: 5%;
}

.stat-quote__copy {
    margin-bottom: 0.5em;
}