.stats--standout {
    text-align: center;
}

.stat {
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    .stats--grid & {
        border-left: 3px solid $iati-ocean;
        padding: 1.5em 1.5em 1.5em 2em;
    }
    .stats--standout & {
        margin-bottom: 3em;
        padding: 3em 10em;
    }
    @include respond-to($menu-respond) {
        .stats--grid & {
            margin-bottom: 2em;
        }
        .stats--standout & {
            &:not(:last-child) {
                margin-right: 3em;
                margin-bottom: 0;
            }
        }
    }
}

.stat--center {
    display: inline-block;
    text-align: center;
    @include respond-to($menu-respond) {
        width: 40%;
    }
}

.stat__heading {
    color: $iati-ocean;
}

.stat__heading--large {
    @include font-size($alpha);
    // outline: 1px solid red;
}

.stat__copy {
    @include font-size($epsilon);
}

.stat-quote {
    align-items: center;
    display: flex;
    justify-content: center;
}

.stat-quote__media {
    align-self: flex-start;
    margin-right: 5%;
}

.stat-quote__copy {
    margin-bottom: 0.5em;
}