{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "events-single" %}
{% set section = "events" %}
{% set title = "International Aid Transparency Initiative" %}
{% set hero_image = "hero-news-article.jpg" %}


{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'events', as="events" %}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
    <div class="hero hero--image" style="background-image: url({{ global.assets_root }}/img/{{ hero_image }})">
        <div class="row">
            <div class="max-meter">
                <div class="hero__caption">
                    <h1 class="hero__heading">{{ title }}</h1>

                    <p class="hero__subheading">IATI is a common format to share data on aid and development for better decision making and outcomes</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="l-3up">
            <div class="l-3up__col">

            </div>
            <div class="l-3up__col">

            </div>
            <div class="l-3up__col">

            </div>
        </div>
    </div>
{% endblock %}