{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "home" %}
{% set section = "home" %}
{% set title = "International Aid Transparency Initiative" %}
{% set hero_image = "hero-news-article.jpg" %}


{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'articles', as="articles" %}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
    <div class="hero">
        <div class="row">
            <div class="hero__caption">
                <h1 class="hero__heading">{{ title }}</h1>

                <p class="hero__subheading">IATI is a common format to share data on aid and development for better decision making and outcomes</p>
            </div>
            <div class="hero__emblem">
                <img class="hero__emblem__mask" src="{{ global.assets_root }}/img/{{ hero_image }}" alt="alt tag">
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="stats stats--standout">
            <div class="stat-quote fill-sunset">
                <div class="stat-quote__media">
                    <img class="stat-quote__img" src="{{ global.assets_root }}/img/portrait.jpg" alt="alt tag">
                </div>
                <blockquote>
                    <p class="stat-quote__copy">&ldquo;Everyone should use the IATI Standard&rdquo;</p>
                    <cite>Hillary Clinton</cite>
                </blockquote>
            </div>
            <div class="stat stat--flex">
                <div class="stat__body stat__body--center">
                    <h2 class="stat__heading stat__heading--large">1,000,000</h2>
                    <p class="stat__copy">Humanitarian and developlemnt activies published to the IATI Standard</p>
                </div>

                <div class="stat__body stat__body--center">
                    <h2 class="stat__heading stat__heading--large">700</h2>
                    <p class="stat__copy">Publishers and counting that contribute data to make the world a better place</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <h2 class="section__heading">Getting started</h2>
            <div class="l-3up">
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__aside">
                            <div class="help__media">
                                <img class="help__media-img" src="{{ global.assets_root }}/img/help-image.jpg" alt="alt tag">
                            </div>
                        </div>
                        <div class="help__body">
                            <h3 class="help__heading">Get started with our publishing guide</h3>
                            <p class="help__copy">Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.</p>

                            <a class="button" href="#none">Find out more</a>
                        </div>
                    </div>
                </div>
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__aside">
                            <div class="help__media">
                                <img class="help__media-img" src="{{ global.assets_root }}/img/help-image.jpg" alt="alt tag">
                            </div>
                        </div>
                        <div class="help__body">
                            <h3 class="help__heading">Explore our data</h3>
                            <p class="help__copy">Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.</p>

                            <a class="button" href="#none">Find out more</a>
                        </div>
                    </div>
                </div>
                <div class="l-3up__col">
                    <div class="help">
                        <div class="help__aside">
                            <div class="help__media">
                                <img class="help__media-img" src="{{ global.assets_root }}/img/help-image.jpg" alt="alt tag">
                            </div>
                        </div>
                        <div class="help__body">
                            <h3 class="help__heading">Find out more about the standard</h3>
                            <p class="help__copy">Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.</p>

                            <a class="button" href="#none">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="section-alt-top section-alt-bottom">
            <h2 class="section__heading">About IATI</h2>
            <div class="l-2up">
                <div class="l-2up__col">
                    <div class="is-typeset is-typeset--article">
                        <h3></h3>
                        <p>Duis sit amet aliquam enim. Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.</p>
                        <p>Nulla in nunc at ipsum tincidunt convallis. Duis sit amet aliquam enim. Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.</p>
                        <a class="button" href="#none">Find out more</a>
                    </div>
                </div>
                <div class="l-2up__col">
                    <div class="media-video-wrapper">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/cfjxWLB9kpE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-alt-bottom">
        <div class="row">
            <h2 class="section__heading">Case studies</h2>
            <div class="l-2up">
                {% for item in articles.related_article %}
                    <div class="l-2up__col">
                        {% include 'listings/article.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="section-alt">
            <h2 class="section__heading">Partners</h2>
            <div class="l-2up">
                <div class="l-2up__col">
                    <article class="listing listing--article listing--people">
                        <aside class="listing__aside">
                            <div class="listing__media">
                                <img src="{{ global.assets_root }}/img/portrait.png" alt="alt tag">
                            </div>
                        </aside>
                        <div class="listing__body">
                            <blockquote class="as-blockquote listing-quote">
                                <p>&ldquo;Duis sit amet aliquam enim. Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.&rdquo;</p>

                                <cite>Person Name</cite>
                                <cite>Role</cite>
                            </blockquote>
                        </div>
                    </article>
                </div>
                <div class="l-2up__col">
                    <article class="listing listing--article listing--people">
                        <aside class="listing__aside">
                            <div class="listing__media">
                                <img src="{{ global.assets_root }}/img/portrait.png" alt="alt tag">
                            </div>
                        </aside>
                        <div class="listing__body">
                            <blockquote class="as-blockquote listing-quote">
                                <p>&ldquo;Duis sit amet aliquam enim. Donec tempus nisi est, vel finibus dolor finibus sit amet. Pellentesque maximus sollicitudin urna.&rdquo;</p>

                                <cite>Person Name</cite>
                                <cite>Role</cite>
                            </blockquote>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}