{% model 'navigation', as="navigation" %}

{# Place button where needed in the DOM. The might mean moving it from this include #}
<button role="button" class="navigation-primary-toggle" id="navigation-primary-toggle"><span>Menu</span></button>

<nav class="navigation-primary" role="navigation" id="navigation-primary">
	<ul class="navigation-primary__items">
		<!-- {% for item in navigation.primary %}
			{% if item.hidden == false %}
				{% if section == item.in_section %}
					<li id="section-{{ item.in_section }}" class='navigation-primary__item navigation-primary__item--active'><a href="{{ item.url }}">{{ item.label }}</a></li>
				{% else %}
					<li id="section-{{ item.in_section }}" class='navigation-primary__item'><a href="{{ item.url }}">{{ item.label }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %} -->
		<li class="navigation-primary__item navigation-primary__item--has-children"><a href="#">About</a>
			<div class="navigation-megamenu">
				<div class="navigation-megamenu__col navigation-megamenu__col--teaser">
					<div class="m-highlight">
						<h2 class="m-highlight__heading">About</h2>
						<p class="m-highlight__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a href="#" class="button">Read more</a>
					</div>
                </div>
				<div class="navigation-megamenu__col">
					<div class="l-3up">
						<div class="l-3up__col">
							<ul class="navigation-megamenu__list">
								<li><a href="#">How IATI works</a></li>
								<li><a href="#">Who is IATI for?</a></li>
								<li><a href="#">Why use IATI?</a></li>
								<li><a href="#">About the Standard</a></li>
								<li><a href="#">The IATI story so far</a></li>
							</ul>
						</div>
						<div class="l-3up__col">
							<ul class="navigation-megamenu__list">
								<li><a href="#">How IATI works</a></li>
								<li><a href="#">Who is IATI for?</a></li>
							</ul>
						</div>
						<div class="l-3up__col">
							<ul class="navigation-megamenu__list">
								<li><a href="#">How IATI works</a></li>
								<li><a href="#">Who is IATI for?</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="navigation-primary__item"><a href="#">IATI Standard</a></li>
		<li class="navigation-primary__item"><a href="#">Using data</a></li>
		<li class="navigation-primary__item"><a href="#">Guidance &amp; Support</a></li>
		<li class="navigation-primary__item"><a href="#">Community</a></li>
		{% for item in navigation.utility %}
			{% if section == item.in_section %}
				<li id="section-{{ item.in_section }}" class='navigation-primary__item navigation-primary__item--ss-only navigation-primary__item--active '><a href="{{ item.url }}">{{ item.label }}</a></li>
			{% else %}
				<li id="section-{{ item.in_section }}" class='navigation-primary__item navigation-primary__item--ss-only'><a href="{{ item.url }}">{{ item.label }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
