{% model 'navigation', as="navigation" %}

{# Place button button--small  where needed in the DOM. The might mean moving it from this include #}
<button button--small  role="button button--small"  class="navigation-primary-toggle" id="navigation-primary-toggle"><span>Menu</span></button button--small>

<nav class="navigation-primary" role="navigation" id="navigation-primary">
	<ul class="navigation-primary__items">
		<!-- {% for item in navigation.primary %}
			{% if item.hidden == false %}
				{% if section == item.in_section %}
					<li id="section-{{ item.in_section }}" class='navigation-primary__item navigation-primary__item--active'><a href="{{ item.url }}">{{ item.label }}</a></li>
				{% else %}
					<li id="section-{{ item.in_section }}" class='navigation-primary__item'><a href="{{ item.url }}">{{ item.label }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %} -->
		<li class="navigation-primary__item navigation-primary__item--has-children"><a href="#">About</a>
			<div class="navigation-megamenu">
				<div class="navigation-megamenu__col navigation-megamenu__col--teaser">
					<div class="m-highlight">
						<h2 class="m-highlight__heading">About</h2>
						<p class="m-highlight__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a href="#" class="button button--small" >Read more</a>
					</div>
                </div>
				<div class="navigation-megamenu__col">
					<div class="l-offset">
						<div class="l-offset__col">
							<ul class="navigation-megamenu__list">
								<li><a href="#">How IATI works</a></li>
								<li><a href="#">Who is IATI for?</a></li>
								<li><a href="#">Why use IATI?</a></li>
								<li><a href="#">About the Standard</a></li>
								<li><a href="#">The IATI story so far</a></li>
								<li><a href="#">Case studies</a></li>
							</ul>
						</div>
						<div class="l-offset__col">
							<article class="case-study">
								<div class="case-study__media background-cover" style="background-image: url({{ global.assets_root }}/img/content-image.jpg"></div>
								<div class="case-study__panel">
									<h2 class="case-study__heading"><a href=""><span>AfDB's IATI portal improves development investments</span></a></h2>
									<p class="case-study__excerpt">IATI has undertaken research to gain insights into how different countries use data.</p>
									<a href="#" class="button button--small" >Read more</a>
								</div>
							</article>

						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="navigation-primary__item navigation-primary__item--has-children"><a href="#">IATI Standard</a>
			<div class="navigation-megamenu">
				<div class="navigation-megamenu__col navigation-megamenu__col--teaser navigation-megamenu__col--thin">
					<div class="m-highlight">
						<h2 class="m-highlight__heading">IATI Standard</h2>
						<p class="m-highlight__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a href="#" class="button button--small" >Read more</a>
					</div>
                </div>
				<div class="navigation-megamenu__col navigation-megamenu__col--border">
					<div class="l-4up">
						<div class="l-4up__col">
							<ul class="navigation-megamenu__list">
								<li><a href="#">IATI Reference Pages v2.03</a></li>
								<li><a href="#">The Organisation Standard</a></li>
								<li><a href="#">The Activity Standard</a></li>
								<li><a href="#">Codelists</a></li>
								<li><a href="#">Schema</a></li>
								<li><a href="#">Rulesets</a></li>
							</ul>
						</div>
						<div class="l-4up__col">
							<ul class="navigation-megamenu__list">
								<li><a href="#">IATI Standard Guidance</a></li>
								<li><a href="#">Understanding the Standard</a></li>
								<li><a href="#">Publishing Guidance</a></li>
								<li><a href="#">Accessing and Using Data</a></li>
								<li><a href="#">Developer Documentation</a></li>
								<li><a href="#">Help and Support</a></li>
							</ul>
						</div>
						<div class="l-4up__col">
							<ul class="navigation-megamenu__list">
								<li><a href="#">Changelog</a></li>
								<li>Previous versions of IATI
									<ul>
										<li><a href="#">V2.02</a></li>
										<li><a href="#">V2.01</a></li>
									</ul>
								</li>
								<li>Upgrade Information
									<ul>
										<li><a href="#">Upgrade process</a></li>
										<li><a href="#">Deprecation of V1</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="l-4up__col">
							<ul class="navigation-megamenu__list">
								<li><a href="#">How we manage the Standard</a></li>
								<li>
									<ul>
										<li><a href="#">Versions</a></li>
										<li><a href="#">Codelist management</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="navigation-primary__item navigation-primary__item--has-children"><a href="#">Using Data</a>
			<div class="navigation-megamenu">
				<div class="navigation-megamenu__col navigation-megamenu__col--teaser">
					<div class="m-highlight">
						<h2 class="m-highlight__heading">Using IATI Data</h2>
						<p class="m-highlight__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a href="#" class="button button--small" >Read more</a>
					</div>
                </div>
				<div class="navigation-megamenu__col">
					<div class="l-offset">
						<div class="l-offset__col">
							<ul class="navigation-megamenu__list">
								<li><a href="#">Types of data available</a></li>
								<li><a href="#">How do I use IATI data?</a></li>
								<li><a href="#">How to get help with using IATI data</a></li>
								<li><a href="#">Progress on improving the use of IATI data</a></li>
								<li><a href="#">IATI Data Use Fund</a></li>
							</ul>
						</div>
						<div class="l-offset__col">
							<article class="case-study">
								<div class="case-study__media background-cover" style="background-image: url({{ global.assets_root }}/img/content-image.jpg"></div>
								<div class="case-study__panel">
									<h2 class="case-study__heading"><a href=""><span>IATI data use research</span></a></h2>
									<p class="case-study__excerpt">IATI has undertaken research to gain insights into how different countries use data.</p>
									<a href="#" class="button button--small" >Read more</a>
								</div>
							</article>

						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="navigation-primary__item navigation-primary__item--has-children"><a href="#">Tools &amp; Resources</a>
			<div class="navigation-megamenu">
				<div class="navigation-megamenu__col navigation-megamenu__col--teaser navigation-megamenu__col--small">
					<div class="m-highlight">
						<h2 class="m-highlight__heading">Tools &amp; Resources</h2>
						<p class="m-highlight__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a href="#" class="button button--small" >Read more</a>
					</div>
                </div>
				<div class="navigation-megamenu__col">
					<div class="l-4up">
						<div class="l-4up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">IATI Registry</a></h3>
								<p class="navigation-megamenu__block__copy">Bullet points about the tool and what it enables you to do</p>
								<a href="#" class="text-link">Link to the tool website</a>
							</div>
						</div>
						<div class="l-4up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Data Validator</a></h3>
								<p class="navigation-megamenu__block__copy">Bullet points about the tool and what it enables you to do</p>
								<a href="#" class="text-link">Link to the tool website</a>
							</div>
						</div>
						<div class="l-4up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">IATI Datastore</a></h3>
								<p class="navigation-megamenu__block__copy">Bullet points about the tool and what it enables you to do</p>
								<a href="#" class="text-link">Link to the tool website</a>
							</div>
						</div>
						<div class="l-4up__col">
							<ul class="navigation-megamenu__list">
								<li><a href="#">Promote IATI</a></li>
								<li><a href="#">Publishing statistics</a></li>
								<li><a href="#">Third party tools and services for data use</a></li>
								<li><a href="#">IATI tool guide</a></li>
							</ul>
						</div>
					</div>
					<div class="l-4up l-4up--double-right">
						<div class="l-4up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">IATI Dashboard</a></h3>
								<p class="navigation-megamenu__block__copy">Bullet points about the tool and what it enables you to do</p>
								<a href="#" class="text-link">Link to the tool website</a>
							</div>
						</div>
						<div class="l-4up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">d-portal</a></h3>
								<p class="navigation-megamenu__block__copy">Bullet points about the tool and what it enables you to do</p>
								<a href="#" class="text-link">Link to the tool website</a>
							</div>
						</div>
						<div class="l-4up__col l-4up__col--double">
							<div class="m-highlight">
								<h3 class="m-highlight__heading"><a href="#">Integrating IATI data into your AIMS</a></h3>
								<p class="navigation-megamenu__block__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
								<a href="#" class="button button--small">Find out more about integrating IATI</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="navigation-primary__item navigation-primary__item--has-children"><a href="#">Guidance &amp; Support</a>
			<div class="navigation-megamenu">
				<div class="navigation-megamenu__col navigation-megamenu__col--teaser navigation-megamenu__col--small">
					<div class="m-highlight">
						<h2 class="m-highlight__heading">Guidance &amp; Support</h2>
						<p class="m-highlight__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a href="#" class="button button--small" >Read more</a>
					</div>
                </div>
				<div class="navigation-megamenu__col">
					<div class="l-3up">
						<div class="l-3up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Standard Overview</a></h3>
								<p class="navigation-megamenu__block__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
								<a href="#" class="navigation-megamenu__block__link">View standard overview</a>
							</div>
						</div>
						<div class="l-3up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Standard Guidance v2.0</a></h3>
								<p class="navigation-megamenu__block__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
								<a href="#" class="navigation-megamenu__block__link">View standard guidance</a>
							</div>
						</div>
						<div class="l-3up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Help &amp; Support</a></h3>
								<p class="m-highlight__copy">Submit a support request to our team and we'll do our best to help you</p>
								<a href="#" class="button button--small">Submit a query</a>
							</div>
						</div>
					</div>
					<div class="l-3up">
						<div class="l-3up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Developer Guidance</a></h3>
								<p class="navigation-megamenu__block__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
								<a href="#" class="navigation-megamenu__block__link">View developer guidance</a>
							</div>
						</div>
						<div class="l-3up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Publishing Guidance</a></h3>
								<p class="navigation-megamenu__block__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
								<a href="#" class="navigation-megamenu__block__link">View publishing guidance</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>

		<!-- Get invlived Sprint 3 -->
		<!-- <li class="navigation-primary__item navigation-primary__item--has-children"><a href="#">Get involved</a>
			<div class="navigation-megamenu">
				<div class="navigation-megamenu__col navigation-megamenu__col--teaser">
					<div class="m-highlight">
						<h2 class="m-highlight__heading">The IATI Community</h2>
						<p class="m-highlight__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a href="#" class="button button--small" >Read more</a>
					</div>
                </div>
				<div class="navigation-megamenu__col">
					<div class="l-3up">
						<div class="l-3up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Membership</a></h3>
								<p class="navigation-megamenu__block__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="l-3up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">The IATI Community (TIC)</a></h3>
								<p class="navigation-megamenu__block__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<a href="#" class="text-link">Code of conduct</a>
							</div>
						</div>
						<div class="l-3up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Discuss</a></h3>
								<p class="navigation-megamenu__block__copy">Bullet points about the tool and what it enables you to do</p>
								<a href="#" class="text-link">Link to discuss</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li> -->

		<!-- Community Sprint 2 -->
		<li class="navigation-primary__item navigation-primary__item--has-children"><a href="#">Community</a>
			<div class="navigation-megamenu">
				<div class="navigation-megamenu__col navigation-megamenu__col--teaser">
					<div class="m-highlight">
						<h2 class="m-highlight__heading">The IATI Community</h2>
						<p class="m-highlight__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<a href="#" class="button button--small" >Read more</a>
					</div>
                </div>
				<div class="navigation-megamenu__col">
					<div class="l-3up">
						<div class="l-3up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Discuss</a></h3>
								<p class="navigation-megamenu__block__copy">Bullet points about the tool and what it enables you to do</p>
								<a href="#" class="text-link">Link to discuss</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>

		<li class="navigation-primary__item navigation-primary__item--has-children"><a href="#">Governance</a>
			<div class="navigation-megamenu">
				<div class="navigation-megamenu__col navigation-megamenu__col--teaser navigation-megamenu__col--small">
					<div class="m-highlight">
						<h2 class="m-highlight__heading">Governance</h2>
						<p class="m-highlight__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<a href="#" class="button button--small" >Read more</a>
					</div>
                </div>
				<div class="navigation-megamenu__col">
					<div class="l-4up">
						<div class="l-4up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Who runs IATI</a></h3>
								<p class="navigation-megamenu__block__copy">Find out about out Governing Board and Secretariat</p>
								<a href="#" class="text-link">Find out more</a>
							</div>
						</div>
						<div class="l-4up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Members Assembly</a></h3>
								<p class="navigation-megamenu__block__copy">The members assembly is a list of all IATI members</p>
								<ul class="navigation-megamenu__list">
									<li><a href="#">View our membership</a></li>
									<li><a href="#">Member's assembly documents</a></li>
								</ul>
							</div>
						</div>
						<div class="l-4up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">Finances, reports and minutes</a></h3>
								<ul class="navigation-megamenu__list">
									<li><a href="#">IATI finances</a></li>
									<li><a href="#">Annual reports</a></li>
									<li><a href="#">Governing board minutes</a></li>
									<li><a href="#">Governance documents</a></li>
									<li><a href="#">Technical Advisory Group (TAG) documents</a></li>
								</ul>
							</div>
						</div>
						<div class="l-4up__col">
							<div class="m-highlight m-highlight--alt">
								<h3 class="m-highlight__heading"><a href="#">IATI plans</a></h3>
								<ul class="navigation-megamenu__list">
									<li><a href="#">IATI Strategic Plan 2020-2025</a></li>
									<li><a href="#">IATI work plan</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
		{% for item in navigation.utility %}
			{% if section == item.in_section %}
				<li id="section-{{ item.in_section }}" class='navigation-primary__item navigation-primary__item--ss-only navigation-primary__item--active '><a href="{{ item.url }}">{{ item.label }}</a></li>
			{% else %}
				<li id="section-{{ item.in_section }}" class='navigation-primary__item navigation-primary__item--ss-only'><a href="{{ item.url }}">{{ item.label }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
